body {
	font-family: 'Gill Sans', arial, sans-serif;;
  color: #3D5167;
  text-align: left;
}

header {
  background-color: #e7e6e6;
  border-bottom: 1px solid #e7e6e6;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -10px;
  margin-left: -10px;
}

h1 {  
  font-size: 1.6em;
}

ol {
  list-style: ;
}

li {
  padding: 30px, 40px;
  line-height: 1.5;
}

a {
  color: #9d9b9b;
  text-decoration: underline;
}

img {
  margin: 10px;
  border: 10px;
} 

#intro {
  padding-top: 55px;
  font-size: 1em;
  text-align: center;
}

#intro img {
  min-width: 310px;
  max-width: 310px;
  margin: 0px;
}

/* this is the code for a transparent bar at the bottom of the intro photo for the caption, if I include one
.caption {
  background-color: rgba(250, 250, 250, 0.65);
  padding: 5px 10px;
  position: absolute;
  top: 330px;
  left: 50%;
  margin-left: -155px;
  width: 310px;
}
*/

#blurb {
  font-style: italic;
  text-align: center;
  padding-bottom: 15px;
}

#password-form {
  width: 310px;
  margin: 0 auto;
  padding-top: 20px;
}

#password-form button {
  color: #3D5167;
  padding: 10px 15px;
  margin-left: 10px;
  font-size: 0.8em;
  border-radius: 5px;
}

#password {
  padding: 10px;
  width: 150px;
}

#content {
  width: 310px;
  margin: 0 auto;
}

#playing li, #safe li {
  padding: 20px 20px;
  min-width: 80px;
  max-width: 80px;
  margin-bottom: 10px;
  margin-left: -15px;
  margin-right: 25px;
  background-color: #3D5167;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #4e4c80;
  display: inline-block;
  text-align: center;
}

#playing li:hover, #safe li:hover {
  box-shadow: 1px 1px 2px #4e4c80 inset;
}

ol.btn {
  list-style: none;
}

a.btn {
  color: white;
  text-decoration: none;
  text-align: center;
}

a.btn:hover {
  text-decoration: underline;
}

#name, #playing, #trouble, #safe, #routine, #feeding, #Feed-back, #Photo-gallery {
  border-bottom: 3px solid #e7e6e6;
}

.pictures li {  
  display: inline-block;
  margin-left: -40px;
  border-radius: 9px;
  padding: 2px 2px;
}

#Feed-back li {
  margin-left: 15px;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: #e7e6e6;
  box-shadow: 2px 2px 4px #4e4c80;
  width: 100px;
  text-align: center;
}

#Feed-back li:hover {
  box-shadow: 1px 1px 2px #4e4c80 inset;
}

#Feed-back a {
  color: #3D5167;
  text-decoration: none;
}

#Feed-back a:hover {
  text-decoration: underline;
}

.pictures li:hover {
  background-color: #FFFF00;
}

.pictures img {
  min-width: 280px;
  max-width: 280px;
}

.hidden {
  display: none;
}

